body{
  font-family: 'Times New Roman', Times, serif;
  text-align: justify;
  font-size: 1.7rem;
  margin: 0;
  color: white;
  background-color: #21262d;
}

header{
  background-color: #0d1117;
}

header div{
  display: flex;
  flex-direction: column;
  max-width: 950px;
  margin: auto;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 950px;
  margin: auto;
}

blockquote{
  padding: 20px;
  border-radius: 15px;
  background-color: #050f2c;
}

ol li{
  font-weight: bold;
}